<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="styles/style.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" href="scripts/script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>Jimmy Klein</title>
    <script type="text/javascript" src="scripts/script.js"></script>
  </head>
  <body>
    <div class="title">
        <h1>Jimmy Klein</h1>
    </div>
    <div class="menu">
      <ul class="topnav">
        <li><a id="transition" href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Résumé</a></li>
      </ul>
    </div>

    <div class="container transform">
      <div class="box transform"></div>
      <div class="screen transform"></div>
      <div class="floppy transform-quick"></div>
      <div class="bottom transform-quick"></div>
    </div>
    <div id="bottom_for_padding"></div>
  </body>
</html>
